.one-card {
    display: inline;
    background-color: #277323;
    color: #fff;
    border: 2px solid #D1FACF;
    width: 20vw;
    height: fit-content;
    min-width: 150px;
    margin-bottom: 2vh;
}

.card-button {
    padding: 5px 10px;
    margin: 10px 10px;
    border-radius: 5px;
}

#tree {
    font-size: 2em;
}